form input[name="city"],
form input[name="country"]{
    background-color: transparent;
    color: white;
    border-bottom: 2px solid white;
    border-radius: 0px;
    border: none;
}
form input:focus{
    background-color: transparent;
    box-shadow: none !important;
}